*{
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* transition: 0.3s; */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c9cbcd;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 100;
}

header div ul {
  list-style-type: none;
}

header div ul li{
  display: inline;
  margin-left: 30px;
  margin-right: 10px;
  font-weight: 900;
}

header div ul li a{
  text-decoration: none;
  color: #000;
  transition: 0.3s;
}

header div ul li a:hover{
  color: #f5df4e;
  /* background-color: rgb(0, 0, 0); */
}

footer {
  background-color: #37393b;
  text-align: center;
  padding: 30px 0px;
  color: #FFF;
}

div#resume {
  padding: 15px 15px 35px 15px;
  background-color: #f5df4e;
  margin-top: 4rem;
}

div#resume h1 {
  padding-top: 15px;
  color: #262626;
}

div#resume img {
  width: 20rem;
  cursor: pointer;
  transition: 0.3s;
  display: inline-block;
}

div#resume img:hover {
  width: 21rem;
}

div#origins {
  padding: 15px 15px 35px 15px;
  background-color: #939597;
}

div#origins h2 {
  padding-top: 15px;
  color: #f5df4e;
}

div#historic {
  padding: 15px 15px 35px 15px;
  background-color: #f5df4e;
}

div#historic h2 {
  padding-top: 15px;
  color: #37393b;
}

div#synthesis {
  padding: 15px 15px 35px 15px;
  background-color: #939597;
}

div#synthesis h2 {
  padding-top: 15px;
  color: #f5df4e;
}

div#characters {
  padding: 15px 15px 35px 15px;
  background-color: #f5df4e;
}

div#characters h2 {
  padding-top: 15px;
  color: #37393b;
}

.mt-2 {
  margin-top: 20px;
}

div.row {
  display: flex;
  flex-wrap: wrap;
}

div.col-6 {
  width: 50%;
}

div.col-9 {
  width: 75%;
}

div.col-8 {
  width: 60%;
}

div.col-3 {
  width: 25%;
}

.animated {
  margin-bottom:60px;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
} 

@keyframes fadeInRight {
  0% {
     opacity: 0;
     transform: translateX(20px);
  }
  100% {
     opacity: 1;
     transform: translateX(0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
} 

@keyframes fadeInLeft {
  0% {
     opacity: 0;
     transform: translateX(-20px);
  }
  100% {
     opacity: 1;
     transform: translateX(0);
  }
}

.card {
  background-color: #FFF;
  padding: 15px;
  border-radius: 10px;
  margin: 10px 32px;
}
